/*  ===== MOBILE styles (reside at the top and are inherited by all devices) ===== */
/*  ===== See tablet, desktop, and print @media queries at the bottom. */


/*   ----- Imports  -----  */
  /* @import 'node_modules/modern-normalize/modern-normalize.css';  npm install modern-normalize  Resets elements for browser consistency.  https://www.npmjs.com/package/modern-normalize */         
  /* @import "component1.css";   Component-specific stylesheets, if any.   */
  /* @import url(//fonts.googleapis.com/css?family=Font+Name); Add fonts from a hosted services like Google Fonts.   */
  @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');



/*   ----- Variables  -----  */
:root {
    --dark-color:#454042;
    --light-color:#F0FBFF;
    --medium-color:#C8A796;
    --transparent-dark:#7a71741c;
    --transparent-medium:#c8a796bc;

  }
  
  /*  ----- Viewport ----- elements inherited by all remaining elements ----- */
  body {       /* Can alternatively define in html {}. */
    background-color:var(--light-color);
    background-image:url(images/vibrant-sunset.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    color:var(--dark-color);
    font-family: 'Playfair Display', serif; /* Define with at least one font name and its related generic family name.*/
    margin:5%;
    padding:0;
    max-width:100;
  }
  
  /*  ----- Page layout blocks -----  */
  header {
    background-color: var(--dark-color);
    color:var(--light-color);
    margin:0%;
    text-align: center;
    margin-bottom: 0%;
    
  }
  main {
    border: 5px solid var(--dark-color);
    padding: 1%;
    margin:5%;
    background-color: var(--light-color);
    
  }
  section {}
  article {}
    #topic1 {}
    #topic2 {}
  div {}
  aside {}
  footer {
    border: 3px solid var(--dark-color);
    background-color:var(--dark-color);
    color:var(--light-color);
    margin:5%;
    padding: 0%;
    
  }
  
  /* ----- Anchors ----- Text links */
  a {}
  a:link {
    color: var(--dark-color);
  }
  a:hover {
    color: var(--medium-color);
  }
  
  
  a:active {}
  a:visited {}
  
  /*  ----- Navigation ----- Override text links for navigation only.  */
  nav {
    display: flex;
  }
  nav a {
    border: 2px solid;
    padding: .5%;
    color:var(--dark-color);
    text-decoration: none;
    line-height: 3;
    display: flex;
    max-width: 150px;
    max-height: 30px;
    margin:1%;
    background-color: var(--light-color);
    
  }
  nav a:hover {
    
  }
  .local{
    border: 0px;
    color:var(--light-color);
    text-decoration: none;
    line-height: 1;
  

  }
  .global{
    margin-left: 5%;

    
  }
  .global:hover{
    color: blue;
  }
  
  
  /*  -----  Typography  ----- */
  p {}
  br {}
  ol, ul, dl {}
  li {}
  dt {}
  dd {}
  ol.globalNav{
    display: flex;
    padding:0;
    list-style-type: none;
    line-height: 100%;
    
  }
  ol.globalNav li{
    margin-right: 20px;
    
    
  }
  
  
  h1, h2, h3, h4, h5, h6 {font-family: 'Lora', serif;} 
  h1 {}
  h2 {}
  h3 {}
  h4 {}
  h5 {}
  h6 {}
  
  abbr {}
  acronym {}
  address {}
  blockquote {}
    q {}
    cite {}
  em {}
  hr {}
  mark {}
  s {}
  span {}
  strong {}
  sub {}
  sup {}
  time {}
  
  /*  ----- Coding or instructional typography ----- */
  pre {}
  code {}
  kbd {}
  samp {}
  var {}
  del {} 
  ins {}
  
  /*  ----- Table ----- */
  table {
    border-collapse: collapse;
    background-color: var(--transparent-dark);
    border: 3px solid var(--dark-color);
    width: 60%;
    margin-bottom: 5%;
   
    

  }
  caption {
    margin-bottom: 4%;
    font-family: 'Lora', serif;
    text-decoration: underline;
    

  }
  thead {}
  tbody {}
  tfoot {}
  tr {}
    tr:nth-child(even) {}
  tr th {
    margin-bottom: 4%;
    text-decoration:underline;
  }
  td {
    padding: 15px;
    
    
  }
    td:nth-child(1) {}
  colgroup {}
  data {}
  datalist {}
  img{
    border: 2px solid var(--dark-color);
    height: 50px;
    width: 50px;
  }
  
  
  
  /*  ----- Form ----- */
  form {}
  fieldset {
    margin: 0%;
    padding-right: 2%;
    padding-left: 2%;
    padding-bottom: 5%;
    padding-top: 2%;
    background-color: var(--transparent-dark);
    font-family: 'Lora', serif;
    text-decoration:none;
    border: 2px dotted var(--dark-color);
  }
    legend {
      text-align: center;
      
    }
  label {
    font-family: 'Lora', serif;

  }
  button {
    font-family: 'Lora', serif;
    padding:0.5;
  
  }
  button:hover{
    background-color: var(--medium-color);

  }
  input {
    font-family: 'Lora', serif;
    padding: 0.75%;
    background-color: var(--light-color);
  }
  select {
    font-family: 'Lora', serif;
    background-color: var(--light-color);
  }
    optgroup {}
    option {}
  textarea {
    width:125px ;
    height:50px ;
    text-align:left;
    font-family: 'Lora', serif;
    background-color: var(--light-color);
    border: 2px solid var(--dark-color);
  }
  output {}
  meter {}
  progress {}
  
  
  /* ----- Media ----- */
  figure {
    min-width: 200px;
    max-width: 700px;
    
    
    padding: 0px;
    color:var(--dark-color);

  }
    figcaption {
      display: flex;
      color:var(--dark-color);
      text-decoration: underline;
    }
    figure img {
      border: 10px solid var(--dark-color);
    }
  svg {}
  picture {}
    source {}
  iframe {}
  video {}
  audio {}
  embed {}
  object {}
  
  /*  ----- Classes for alignment, positioning, widths, grids, embellishments, and animation -----  */
  .gallery {
    display: flex;
  }
  
  .floatright {}
  .floatleft {}
  .center-middle {}
  
  .ten {}
  .twenty {}
  .thirty {}
  .forty {}
  .fifty {}
  .sixty {}
  .seventy {}
  .eighty {}
  
  .radius {}
  .circle {}
  .boxshadow {}
  .tshadow {} 
  .gradient {}
  .shape {}
  
  @keyframes App-logo {}
  
  /*   ===== TABLET  media query overrides mobile styles ===== */
  @media all and (min-width: 600px) {}
  
  /*   ===== DESKTOP  media query overrides mobile and tablet styles ===== */
  @media all and (min-width: 1080px) {}
  
  /*   ===== PRINT  media query overrides previous styles =====  */
  @media print {}
