/*
AUTHOR: Bryce Calhoun
DESCRIPTION: Stylesheet for mobile view of the webpage
*/

@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap');

:root{

        /*
    color scheme #1*/
    --dark-blue: rgba(36, 34, 45, 1);
    --moody-red: rgba(123, 57, 71, 1);
    --pale-pink: rgba(156, 115, 121, 1);
    --signal-orange: rgba(255, 96, 0, 1);
    --cyan: rgba(0, 255, 255, 1);
    --crimson-red: rgba(220,20,60,1);
    --charcoal-grey: rgba(54,69,79,1);
    --white: rgba(255, 255, 255, 1);
    --black: rgba(0,0,0,1);
    

    --main-alt: var(--white);
    --main-color: var(--black);
    --accent-color: var(--crimson-red);
    --accent-alt: var(--charcoal-grey);

    font-family: 'MuseoModerno';
    --weight-one: 600;
    --weight-two: 600;
    --weight-three: 100;

    --border-color: rgba(255, 0, 0, 0);

    --form-height: 45vh;
}

.clear{
    color: rgba(0, 0, 0, 0);
}

html, body{
    scroll-behavior: smooth;
    
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    border: 2px solid var(--border-color);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


#background-video{
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: -1;
    height: 100%;
    width: 100vw;
    transform: rotate(0deg);
    object-fit: cover;
    filter: invert(1);
}

header{
    width: 95%;
    height: 40vh;
    border: 2px solid var(--border-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    border: 2px solid var(--border-color);
}

a{
    text-decoration: none;
    
}

#myName{
    font-weight: var(--weight-one);
    font-size: 25vw;
    word-wrap: break-word;
    white-space: normal;
    text-align: center;
}

#parent{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid var(--border-color);
}

.blackBar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 2px solid var(--border-color);
    background-color: var(--main-color);
    height: 40vh;
    width: 80%;
    border-radius: 20px;
    margin-top: 5%;
    overflow-y: hidden;
    overflow-y: auto;
    padding-bottom: 1vh;
    opacity: 0;
    animation: container_introduction 1.3s ease-in-out forwards;

}

#Research{
    animation-delay: 0.5s;
}
#Skills{
    animation-delay: 1s;
}
#Projects{
    animation-delay: 1.5s;
}

.sectionHeader{
    font-weight: var(--weight-two);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 3vh;
    width: 25vw;
    padding: 2%;
    background-color: var(--accent-color);
    border-radius: 20px;
    border: 2px solid black;
}

.content{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid var(--border-color);
    padding: 2%;
    flex-shrink: 1;
    flex-grow: 1;
    overflow-y: hidden;
    
}

.content.bio{
    min-height: 9vh;
}

.contentText{
    
    margin-left: 2.9vw;
    margin-right: 0.9vw;
    font-size: 3vw;
    height: 35vh;
    width: 70vw;
    color: white;
}

.contentText.left{
    text-align: left;
}

.contentText.right{
    text-align: right;
}

.contentText.heavy{
    font-weight: var(--weight-one);
}

.unorderedList{
    display: none;
    justify-content: flex-start;
    align-items: center;
    flex-shrink: 1;
    max-height: 20%;
    padding: 0%;
}

li{
    font-size: 1.9vw;
    color: white;
}

.image{
    height: 15vh;
    width: 37vw;
    border: 2px solid var(--accent-alt);
    border-radius: 20px;
}

img{
    height: 15vh;
    width: 37vw;
    border-radius: 20px;
}

.smallerImage{
    height: 9vh;
    width: 22vw;
}

.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid var(--border-color);
}

.icons.smaller{
    position: absolute;
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 16vw;
    width: 16vw;
    background-color: black;
    animation: orbital_animation 10s infinite linear;
}

.smallerIcons{
    height: 12vw;
    width: 12vw;
    border: 2px solid var(--border-color);

}

#insta{
    --init: 120px;
}

#git{
    --init: -120px;
}

#myLinks{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--border-color);
    height: 40vh;
    width: 80%;
}

#Linkedin{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 10vh;
    background-color: black;
    border-radius: 50%;
    border: 2px solid var(--border-color);
}

#LinkedinIcon{
    height: 8vh;
    width: 8vh;
    border: 2px solid var(--border-color);

}

#contactContainer{
    display: none;
    opacity: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 20px;
    position: fixed;
    bottom: 4%;
    height: var(--form-height);
    width: 80%;
    background-color: var(--accent-alt);
    color: var(--accent-color);
    border: 2px solid var(--border-color);
    z-index: 2;
    transition: opacity 0.5s ease-in-out;
    overflow-y: scroll;
    
}
#contactContainer.show{
    display: flex !important;
    opacity: 1 !important;
}

#closeContact{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4vh;
    width: 95%;
    background-color: var(--accent-color);
    border-radius: 20px;
    margin-top: .7vh;
    border: 2px solid var(--border-color);
}
#closeContact:active{
    background-color: var(--accent-alt) !important;
}

#closeContactButton{
    height: 95%;
    width: 99%;
    font-family: inherit;
    font-size: 5vw;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

#formContainer{
    height: auto;
    border: 2px solid var(--border-color);
    display: flex;
    justify-content: center;
    align-content: flex-start;
}

fieldset{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    border: none;
    padding: 0%;
}

.myInputs{
    font-family: inherit;
    width: 100%;
    border-radius: 20px;
}

textarea{
    height: 8vh;
}

.formElement{
    border: 2px solid var(--border-color);
    margin: 7%;
}

#submitForm{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: var(--accent-color);
    height: 6vh;
    width: 30vw;
    margin-top: 2vh;
    border: 2px solid var(--border-color);
}
#submitForm:active{
    background-color: var(--accent-alt) !important;
}

#submitFormButton{
    height: 95%;
    width: 70%;
    font-family: inherit;
    font-size: 4vw;
    background-color: rgba(0,0,0,0);
    border: none;
    
}

#stickyContainer{
    position: fixed;
    bottom: 4%;
    height: 4vh;
    width: 80%;
    background-color: var(--accent-alt);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 2px solid var(--border-color);
    color: var(--accent-color);
    transition: height 0.9s ease-in-out
}
#stickyContainer.open{
    height: var(--form-height) !important;
}
#stickyContainer:active{
    background-color: var(--accent-color);
}

#footerContainer{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border: 2px solid var(--border-color);
}

footer{
    padding: 0.5%;
    background-color: var(--main-color);
    border-radius: 20px;
    width: 60%;
    color: var(--accent-color);;
    margin-bottom: 20%;
    border: 2px solid var(--border-color);
}

@keyframes orbital_animation{
    0%{
        transform: rotate(0deg) translateX(var(--init)) rotate(0deg);
    }
    100%{
        transform: rotate(360deg) translateX(var(--init)) rotate(-360deg);
    }
}

@keyframes container_introduction{
    0%{
        opacity: 0;
        transform: translateY(10vh);
    }
    100%{
        opacity: 1;
        transform: translateY(0vh);
    }
}









