
:root{
    --cell-dimensions-desktop: 2vw;
    --cell-dimensions-mobile: 7vw;
    --border-color: black;
    --signal-orange: rgba(255, 96, 0, 1);
    --cyan: rgba(0, 255, 255, 1);
    --crimson-red: rgba(220,20,60,1);
    --accent-color: var(--cyan);
    --blur-value: 10px;
    /*--border-color: rgba(255, 230, 36, 1);*/
}

html, body{
    min-height: 90%;
    min-width: 90%;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-x: hidden;
}
body{
    
    border: none;
    padding-top: 3vh;

}


header p{
    border: none;
}



.back-container{
    margin-bottom: 5vh;
    font-size: 6vw;
    width: 90%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}



.back{
    height: 5vh;
    width: 10vh;
    cursor: pointer;
    border-radius: 10px;
    background-color: black;
    color: white;
    background-image: url('../media/icons/back-arrow-icon.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}



.explore-content{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: grey;
    border-radius: 80px;
    border: 4px solid black;
    margin-bottom: 5vh;
    height: auto;
    padding: 10%;
    transform: translate(-100%, 0%);
    position: relative;
    left: 135vw;
}



.explore-unit{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}



@media(min-width: 900px){
    .back-container{
        font-size: 3vw;
    }
}

#myName{
    border: none;
    font-size: 19vw;
    margin-bottom: 10vh;
}
header{
    height: auto;
    border: none;
}

.maze{
    justify-content: center;
    flex-direction: column;
    height: auto;
    width: auto;
    max-width: 100%;
    background-color: white;
    border: 4px solid black;
    border-radius: 10px;
    margin-bottom: 1vh;
}

.options-for-explore{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    width: 100%;
    margin-bottom: 3vh;
}

.options-for-explore div{
    border-radius: 5px;
}

.selection{
    background-color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 30%;

}

.breadth-selected{
    justify-content: flex-end;
}

.toggle-switch{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 4vh;
    margin: 5%;
    width: 40%;

}



.reset-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

#reset{
    cursor: pointer;
    border-radius: 10px;
    font-size: 6vw;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: auto;
}
@media(min-width: 900px){
    #myName{
        font-size: 10vw;
    }
    .maze{
        margin-bottom: 3vh;
    }
    .back{
        height: 5vh;
        width: 10vh;
    }
    .explore-content{
        border-radius: 100px;
        left: 160vw;
        padding: 2.5%;
    }
    .explore-unit{
        margin-left: 5vw;
    }
    .toggle-switch{
        height: 4vh;
    }
    #reset{
        font-size: 2vw;
    }
}

.row{
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
}

.cell{
    cursor: pointer;
    height: var(--cell-dimensions-mobile);
    width: var(--cell-dimensions-mobile);
    border: 2px solid var(--border-color);
}

@media(min-width: 900px){
    .cell{
        height: var(--cell-dimensions-desktop);
        width: var(--cell-dimensions-desktop);
    }
}

.wall{
    cursor: auto;
    background-color: black;
}

.start{
    background-image: url('../media/icons/icons8-click-30.png');

    background-color: blue;
}
.visited{
    background-color: blue;

}
.goal{
    background-image: url('../media/icons/icons8-click-30.png');
    background-color: green;
}
.path{
    background-color: red;
}

#footerContainer{
    border: none;
}