/*
AUTHOR: Bryce Calhoun
DESCRIPTION: Stylesheet for desktop view of the webpage
*/

@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap');

:root{

    /*
    color scheme #1*/
    --dark-blue: rgba(36, 34, 45, 1);
    --moody-red: rgba(123, 57, 71, 1);
    --pale-pink: rgba(156, 115, 121, 1);
    --signal-orange: rgba(255, 96, 0, 1);
    --cyan: rgba(0, 255, 255, 1);
    --crimson-red: rgba(220,20,60,1);
    --charcoal-grey: rgba(54,69,79,1);
    
    --main-alt: white;
    --main-color: black;
    --accent-color: var(--cyan);
    --accent-alt: var(--charcoal-grey);

    font-family: 'MuseoModerno';
    --weight-one: 600;
    --weight-two: 400;
    --weight-three: 100;

    --border-color: rgba(255,0,0,0);
    --form-height: 45vh;
}

.clear{
    color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar {
    width: 0px;  
}

::-webkit-scrollbar-track {
    background: transparent; 
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2); /* Semi-transparent thumb */
    border-radius: 10px; 
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.5); /* Darker thumb on hover */
}


html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.submit-form{
    font-weight: 600;
    background-color: var(--accent-color);
    font-size: 9vw;
}

@media(min-width: 900px){
    .submit-form:hover{
        background-color: var(--main-color);
        color: var(--accent-color);
    }
    #close-modal-button:hover{
        background-color: var(--main-color);
        color: var(--accent-color);
    }
}

.submit-form:active{
    filter: brightness(75%);
}

input{
    font-size: 10vw;
}

textarea{
    overflow-y: scroll;
    max-height: 60vh;
    font-size: 10vw;
    height: auto;
}

@media(min-width: 900px){
    textarea{
        font-size: 3vw;
    }
    input{
        font-size: 3vw;
    }
    .submit-form{
        font-size: 3vw;
    }
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

form > *{
    width: 100%;
    margin-bottom: 2vh;
    border-radius: 10px;
    font-family: inherit;
}

#close-modal-button{
    font-family: inherit;
    background-color: var(--accent-color);
    border-radius: 10px;
    height: auto;
    width: 25%;
    font-size: 6vw;
    font-weight: 500;
}

@media(min-width: 900px){
    #close-modal-button{
        font-size: 2vw;
    }
}

.close-modal{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.contact-modal{
    z-index: 101;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 80%;
    position: fixed;
    top: -100%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--charcoal-grey);
    border: 2px solid var(--border-color);
    padding: 1%;
    border-radius: 15px;
}

@media(min-width: 900px){
    .contact-modal{
        width: 30%;
    }
}

.contact-modal > * {
    font-family: inherit;
    border-radius: 10px;
    width: 90%;
    font-size: 6vw;
    border: 2px solid var(--border-color);
    margin-bottom: 2vh;
}

.backdrop{
    opacity: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.75);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -100;
    transition: opacity 0.5s ease-in-out;
}

.backdrop-show{
    opacity: 1;
    z-index: 100;
}
.modal-show{
    top: 50%;
}


/********************************************/
/********************************************/
.content-card{
    border-radius: 20px;
    border: 2px solid var(--border);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--charcoal-grey);
    width: 90%;
    height: auto;
    padding: 1%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1vh;

}

.content-card > * {
    width: 95%;
    margin-bottom: 2vh;
    border: 2px solid var(--border-color);
    border-radius: 20px;
    color: var(--main-alt);
}

.thumbnail{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--charcoal-grey);
    height: 23vh;
}

#Quiznest{
    background-image: url('../media/quiznest-icon.png');
}
#IOT{
    background-image: url('../media/IOT-thumbnail.png');
}
#Minimax{
    background-image: url('../media/minimax_thumbnail.png');
}
#Aspire{
    height: 35vh;
    background-image: url('../media/Slide1.PNG');
}

#OSU{
    background-image: url('../media/osu-logo.png');
}

#Los-Angeles{
    background-image: url('../media/PXL_20230818_195440381~2.jpg');
}

#Backend{
    background-image: url('../media/generic-uml.png');
}

.thumbnail-title{
    font-weight: 700;

}

.description{
    font-weight: 400;

}

.options{
    margin-bottom: 0vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-button{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    height: 4vh;
    width: 40%;
    color: var(--main-color);
    background-color: var(--accent-color);
}

.action-icon{
    height: 80%;
    width: 40%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.view{
    background-image: url('../media/icons/icons8-eyes-50.png');
}

.launch{
    background-image: url('../media/icons/icons8-launch-50.png');
}

.explore{
    background-image: url('../media/icons/icons8-explore-50.png');
}

.git-repo{
    background-image: url('../media/icons/icons8-github-50.png');
}

.content-button:hover{
    background-color: var(--main-color);
    color: var(--accent-color);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

/********************************************/
/********************************************/



.dynamic-container-button{
    height: 4vh;
    width: 4vh;
    border-radius: 50%;
    border: none;
    background-color:#3c4142;
    background-image: url('/media/icons/chevron-right-icon.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(180deg);
    transition: background-color 1s ease-in-out, transform 1s ease-in-out;
    cursor: pointer;
}

.dynamic-container-button-expanded{
    transform: rotate(90deg);
    background-color: var(--accent-color);
}


.content-card-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 2%;
    padding: 2%;
    border: 2px solid var(--border-color);
    height: auto;
    width: 90%;
}

body{

    width: 100vw;
    height: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'MuseoModerno';
    border: 2px solid var(--border-color);
    background-color: var(--charcoal-grey);
}

header{
    height: auto;
    width: 90%;
    border: 2px solid var(--border-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

p{
    border: 2px solid var(--border-color);
    margin-block-start: 0%;
    margin-block-end: 0%;
}

a{
    text-decoration: none;
}

#myName{
    color: var(--main-color);
    font-weight: var(--weight-one);
    font-size: 12vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100vw;
    border: 2px solid var(--border-color);
}

#background-video{
    z-index: -1;
    width: 100vw;
    height: 100%;
    top: 0%;
    left: 0%;
    position: fixed;
    filter: invert(1);
    object-fit: cover;
    /*display: none;*/
}

.blackBar{
    width: 25.5vw;
    border-radius: 20px;
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    margin-left: 1vw;
    margin-right: 0vw;
    border: 2px solid var(--border-color);
    transition: 1s ease;
    overflow-y: hidden;
    flex-shrink: 1;
    flex-grow: 1;
    opacity: 0;
    animation: container_introduction 1s ease-in-out forwards;
}



#Research{
    animation-delay: 0.5s;
}
#Skills{
    animation-delay: 1s;
}
#Projects{
    animation-delay: 1.5s;
}

#parent{
    margin-top: 100px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid var(--border-color);
}


.sectionHeader{
    font-weight: var(--weight-two);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 3vh;
    width: 10vw;
    padding: 2%;
    background-color: var(--accent-color);
    border-radius: 20px;
    border: 2px solid var(--border-color);
}

.content{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 90%;
    border: 2px solid var(--border-color);
    margin-left: 2%;
    margin-top: 2%;
    padding: 2%;
    font-size: 0.5vw;
    flex-shrink: 1;
    transition: 1s ease;
}

.content.noImage{
    
    align-items: center;
    word-wrap: break-word;
    white-space: normal;
    text-align: center;
}

.image{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 9vh;
    width: 5vw;
    border: 2px solid var(--accent-alt);
    border-radius: 20px;
    transition: 1s ease;
}

.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid var(--border-color);
}

.icons.smaller{
    position: absolute;
    height: 15vh;
    width: 15vh;
    background-color: var(--main-color);
    animation: orbital_animation 25s infinite linear;
}

img{
    transition: transform 1s ease;
    height: 9vh;
    width: 5vw;
    border-radius: 20px;
}

.contentText{
    width: 50%;
    color: var(--main-alt);
    font-size: 100%;
}

.contentText.left{
    text-align: left;
}

.contentText.right{
    text-align: right;
}

.contentText.heavy{
    font-weight: var(--weight-one);
}

.unorderedList{
    border: 2px solid var(--border-color);
    display: flex;
    flex-shrink: 1;
    max-width: 50%;

}

li{
    color: var(--main-alt);
    max-width: 60%;
    height: auto;
}

#myLinks{
    height: 80vh;
    width: 90%;
    border: 2px solid var(--border-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

#Linkedin{
    height: 25vh;
    width: 25vh;
    background-color: var(--main-color);
    border-radius: 50%;
}

#LinkedinIcon{
    height: 20vh;
    width: 20vh;
    border: 2px solid var(--border-color);
}

.smallerIcons{
    height: 12vh;
    width: 12vh;
    border: 2px solid var(--border-color);
}

#insta{
    --init: 200px;
}

#git{
    --init: -200px;
}

#contactContainer{
    display: none;
    opacity: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 20px;
    position: fixed;
    bottom: 2%;
    height: 40vh;
    width: 40%;
    background-color: var(--accent-alt);
    color: var(--accent-color);
    border: 2px solid var(--border-color);
    z-index: 2;
    transition: opacity 0.5s ease-in-out
}
#contactContainer.show{
    display: flex !important;
    opacity: 1 !important;
}


#closeContact{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4vh;
    width: 95%;
    background-color: var(--accent-color);
    border-radius: 20px;
    margin-top: .7vh;
    border: 2px solid var(--border-color);
}
#closeContact:active{
    background-color: var(--accent-alt) !important;
}

#closeContactButton{
    height: 95%;
    width: 99%;
    font-family: inherit;
    font-size: 1vw;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

#stickyContainer{
    font-size: 2vw;
    font-weight: 900;
    cursor: pointer;
    position: fixed;
    bottom: 2%;
    height: 6vh;
    width: 40%;
    background-color: var(--accent-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: 2px solid var(--border-color);
    color: var(--accent-alt);
    transition: height 0.9s ease-in-out;
}
#stickyContainer.open{
    height: 40vh !important;
}
#stickyContainer:active{
    background-color: var(--accent-color);
}

#formContainer{
    height: auto;
    border: 2px solid var(--border-color);
    display: flex;
    justify-content: center;
    align-content: flex-start;
}

fieldset{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    border: none;
    padding: 0%;
}

.myInputs{
    font-family: inherit;
    width: 100%;
    border-radius: 20px;
}

.formElement{
    border: 2px solid var(--border-color);
    margin: 7%;
}

#submitForm{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: var(--accent-color);
    height: 3vh;
    width: 10vw;
    margin-top: 2vh;
    border: 2px solid var(--border-color);
}
#submitForm:active{
    background-color: var(--accent-alt) !important;
}

#submitFormButton{
    height: 95%;
    width: 70%;
    font-family: inherit;
    font-size: 1vw;
    background-color: rgba(0,0,0,0);
    border: none;
    
}


#lottie-loading-animation{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 20%;
    z-index: 102;

}

#footerContainer{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border: 2px solid var(--border-color);
}

footer{
    padding: 0.5%;
    background-color: var(--main-color);
    border-radius: 20px;
    width: 20%;
    color: var(--accent-color);
    margin-bottom: 5%;
    border: 2px solid var(--border-color);

}


.ooze {
    border-radius: 50%;
    background-color: black;
    position: fixed;

    animation-name: ooze_animation;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: var(--duration, 10s);
    animation-delay: var(--delay, 0s);

    left: var(--x, 40%);
    width: var(--size, 60px);
    height: var(--size, 60px);

    z-index: -10;
}

@keyframes ooze_animation {
    0% {
        transform: translateY(120vh);
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    95% {
        opacity: 1;
    }
    100% {
        transform: translateY(-120vh);
        opacity: 0;
    }
}

@keyframes orbital_animation{
    0%{
        transform: rotate(0deg) translateX(var(--init)) rotate(0deg);
    }
    100%{
        transform: rotate(360deg) translateX(var(--init)) rotate(-360deg);
    }
}

@keyframes container_introduction{
    0%{
        opacity: 0;
        transform: translateY(10vh);
    }
    100%{
        opacity: 1;
        transform: translateY(0vh);
    }
}

@media(max-width:900px){
    html, body{
        justify-content: flex-start;
    }
    header{
        width: 95%;
        height: 40vh;
    }
    #myName{
        font-size: 25vw;
        word-wrap: break-word;
        white-space: normal;
    }
    #parent{
        height: 100%;
        margin-top: 0px;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .blackBar{
        width: 80%;
        margin-top: 5%;
        padding-bottom: 1vh;
        margin-left: 0%;
    }
    .blackBar.projects{
        height: auto;
    }
    .sectionHeader{
        height: 3vh;
        width: 25vw;
        font-weight: 600;
    }
    .content{
        justify-content: space-between;
    }
    .content.projects{
        height: 20vh;
    }
    .content.bio{
        min-height: 9vh;
    }
    .contentText{
        width: 70vw;
        font-size: 3vw;
    }
    .unorderedList{
        height: auto;
        justify-content: flex-start;
        padding: 0%;
    }
    li{
        font-size: 1.9vw;
        max-width: 80%;
    }
    .image{
        height: 15vh;
        width: 37vw;
    }
    img{
        height: 15vh;
        width: 37vw;
    }
    .smallerImage{
        height: 9vh;
        width: 22vw;
    }
    .icons.smaller{
        /*object-fit: contain;*/
        display: flex;
        justify-content: center;
        align-items: center;
        height: 16vw;
        width: 16vw;
        /*animation: orbital_animation 10s infinite linear;*/
    }
    .smallerIcons{
        height: 12vw;
        width: 12vw;
    }
    #insta{
        --init: 120px;
    }
    
    #git{
        --init: -120px;
    }
    #myLinks{
        height: 40vh;
        width: 80%;
        margin-top: 10vh;
        margin-bottom: 10vh;
    }
    #Linkedin{
        height: 10vh;
        width: 10vh;
    }
    #LinkedinIcon{
        height: 8vh;
        width: 8vh;
    }

    #contactContainer{
        bottom: 4%;
        height: var(--form-height);
        width: 80%;
        overflow-y: scroll;
    }
    #closeContactButton{
        font-size: 5vw;
    }
    #submitForm{
        height: 6vh;
        width: 30vw;
    }
    #submitFormButton{
        font-size: 4vw;
    }
    #stickyContainer{
        font-size: 5vw;
        bottom: 4%;
        width: 80%;
    }
    #footerContainer{
        width: 80%;
    }
    footer{
        width: 60%;
        margin-bottom: 10vh;
    }


}

.icons > a{
    display: flex;
}
