:root{
    --border: rgba(255, 0, 0, 0);
}


body, html{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 2px solid var(--border);
}

*{
    border-radius: 20px;
}

.blackBar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 30%;
    border: 2px solid var(--border);
    padding: 1%;
    background-color: black;
}

@media(max-width: 900px){
    .blackBar{
        width: 80%;
    }
}





.content-card{
    border: 2px solid var(--border);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: grey;
    width: 90%;
    height: auto;
    padding: 1%;

}

.content-card > * {
    width: 95%;
    margin-bottom: 2vh;
}

.thumbnail{
    background-image: url('quiznest-icon.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: blue;
    height: 23vh;
}

.thumbnail-title{
    font-weight: 700;
    border: 2px solid var(--border);

}

.description{
    font-weight: 100;
    border: 2px solid var(--border);

}

.options{
    margin-bottom: 0vh;
    border: 2px solid var(--border);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-button{
    height: 4vh;
    width: 40%;
}


